[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "zydis"]
	path = zydis
	url = https://github.com/zyantific/zydis.git
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libspng"]
	path = libspng
	url = https://github.com/randy408/libspng
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
