[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "LuaBridge"]
	path = LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "zydis"]
	path = zydis
	url = https://github.com/zyantific/zydis.git
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
