[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libspng"]
	path = libspng
	url = https://github.com/randy408/libspng
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
[submodule "qoi"]
	path = qoi
	url = https://github.com/phoboslab/qoi
